version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: dictionary_pg
    restart: always
    environment:
      POSTGRES_USER: FSDM
      POSTGRES_PASSWORD: IA
      POSTGRES_DB: dictionary
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - dictionary-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U FSDM -d dictionary"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  pgdata:

networks:
  dictionary-network:
    driver: bridge