/* ===================================
   LISTES
   =================================== */
.list-view {
    -fx-background-radius: 10;
}

.word-list-view {
    -fx-background-color: #2A2A45;
    -fx-border-color: #007acc;
    -fx-border-width: 2;
    -fx-border-radius: 10;
}

/* .list-cell est une classe JavaFX native (prédéfinie) */
.word-list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: #ffffff;
    -fx-padding: 12 20;
    -fx-background-radius: 10;
}

.word-list-view .list-cell:hover {
    -fx-background-color: #007acc;
}

.word-list-view .list-cell:selected {
    -fx-background-color: #27C5F5;
    -fx-text-fill: #000000;
}